<%- include('layouts/link') %> 
<body>
  <%- include('layouts/nav') %> 
  <div class="container">
    <img src="https://iqit-commerce.com/ps16/modules/revsliderprestashop/uploads/9174596_5879235-1424984039.png">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-3"><img src="https://loremflickr.com/320/240">
        <h4>Title</h4>
        <span>Description</span>
        <br>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
      <div class="col-3"><img src="https://loremflickr.com/320/240">
      <h4>Title</h4>
      <span>Description</span>
      <br>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
      <div class="col-3"><img src="https://loremflickr.com/320/240">
        <h4>Title</h4>
        <span>Description</span>
        <br>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
      <div class="col-3"><img src="https://loremflickr.com/320/240">
        <h4>Title</h4>
        <span>Description</span>
        <br>
        <a href="#" class="btn btn-primary">Add to Cart</a>
      </div>
    </div>
    </div>
  <%- include('layouts/footer') %> 
</body>
</html>